tensorflow==2.12.0
tensorboard==2.12.0

scikit-learn==1.2.2
xgboost==1.7.5

numpy==1.23.5
opencv-python-headless==4.7.0.72
gymnasium==0.28.1
gymnasium[other]
gymnasium[accept-rom-license]
gymnasium[atari]
pygame==2.4.0
wandb==0.15.2
keyboard==0.13.5

dm-reverb
redis