tensorflow==2.12.0
tensorboard==2.12.0

numpy==1.23.5
opencv-python-headless==4.7.0.72

ufal.pybox2d

swig
box2d
gymnasium==0.26.3
gymnasium[other]==0.26.3
gymnasium[accept-rom-license]==0.26.3
gymnasium[atari]==0.26.3
gymnasium[classic-control]==0.26.3
gymnasium[box2d]==0.26.3

pygame==2.1.0
wandb==0.15.2
keyboard==0.13.5
redis==4.6.0

dm-reverb==0.11.0; sys_platform=="linux"