{% extends "base.html" %}

{% block title %}Action Review{% endblock %}

{% block content %}
<div>
	<div class="row">
		<div class="card shadow">
			<h2>Episode Replay</h2>
			<hr>
			<a href="/episodereview/{{replayData.EpisodeId}}">
				<p>{{replayData.EpisodeId}}</p>
			</a>
		</div>
		<div class="card shadow">
			<h2>Frame</h2>
			<hr>
			<div class="row">
				<a href="/episodereview/{{replayData.EpisodeId}}/action/{{ (actionIndex-1)|string }}">
					<button class="shaded highlightOnHover">
						<p><</p>
					</button>
				</a>
				<p>{{actionData.Frame}}</p>
				<a href="/episodereview/{{replayData.EpisodeId}}/action/{{ (actionIndex+1)|string }}">
					<button class="shaded highlightOnHover">
						<p>></p>
					</button>
				</a>
			</div>
		</div>


	</div>
	<div class="row">
		<div class="card shadow">
			<h2>Simple Stats</h2>
			<hr>
			<p>
				Start Time:
				<em>{{ replayData.DurationText(replayData.Steps[actionIndex-1].CompletedTime) }}</em>
			</p>
			<p>
				End Time:
				<em>{{ replayData.DurationText(actionData.CompletedTime) }}</em>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="card shadow">
			<h2>Human State</h2>
			<img  src="{{'/static/assets/' + replayData.EpisodeId + '_' + actionIndex|string + '.png'}}">
		</div>
		<div class="card shadow">
			<h2>Agent State</h2>
			<hr>
			<p>{{actionData.AgentState}}</p>
		</div>
		<div class="card shadow">
			<h2>Action</h2>
			<hr>
			<p>{{actionData.Action}} : {{ActionLabels[actionData.Action]}}</p>
			<hr>
			{%for key, value in ActionLabels.items() %}
				<p>{{key}} = {{value}}</p>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="card shadow">
			<h2>Action Reason</h2>
			<hr>
			<p>{{actionData.ActionReason}}</p>
		</div>
	</div>
</div>
{% endblock %}