{% extends "base.html" %}

{% block title %}Action Review{% endblock %}

{% block content %}
<div>
	<div class="row">
		<div class="card shadow">
			<h2>Episode Replay</h2>
			<hr>
			<a href="/episodereview/{{replayData.EpisodeId}}">
				<p>{{replayData.EpisodeId}}</p>
			</a>
		</div>
		<div class="card shadow">
			<h2>Frame</h2>
			<hr>
			<div class="row">
				<a href="/episodereview/{{replayData.EpisodeId}}/action/{{ (actionIndex-1)|string }}">
					<button class="shaded highlightOnHover">
						<p><</p>
					</button>
				</a>
				<p>{{actionData.Frame}}</p>
				<a href="/episodereview/{{replayData.EpisodeId}}/action/{{ (actionIndex+1)|string }}">
					<button class="shaded highlightOnHover">
						<p>></p>
					</button>
				</a>
			</div>
		</div>

		<div class="card shadow">
			<h2>Simple Stats</h2>
			<hr>
			<p>
				Start Time:
				<em>{{ replayData.DurationText(replayData.Steps[actionIndex-1].CompletedTime) }}</em>
			</p>
			<p>
				End Time:
				<em>{{ replayData.DurationText(actionData.CompletedTime) }}</em>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="card shadow">
			<h2>Human State</h2>
			<img  src="{{'/static/assets/' + replayData.EpisodeId + '_' + actionIndex|string + '.png'}}">
		</div>
		<div class="card shadow">
			<h2>Agent State</h2>
			<hr>
			<p>{{actionData.AgentState}}</p>
		</div>
		<div class="card shadow">
			<h2>Action</h2>
			<hr>
			<p>{{actionData.Action}} : {{ActionLabels[actionData.Action]}}</p>
			<table>
				<tr>
					<th>
						Index
					</th>
					<th>
						Description
					</th>
					<th>
						Value
					</th>
				</tr>

				{%for key, value in ActionLabels.items() %}
				<tr>
					<td>
						{{key}}
					</td>
					<td>
						{{value}}
					</td>
					<td>
						{{actionData.ActionReason.ActionValues[key]}}
					</td>
				</tr>
				{% endfor %}
			</table>

		</div>
	</div>
	<div class="row">
		<!-- <div class="card shadow">
			<h2>Action Reason</h2>
			<hr>
			<p>{{actionData.ActionReason}}</p>
		</div> -->
		<div class="card shadow">
			<h2>Action Reason</h2>
			<div id="chart_div" style="width: 900px; height: 500px;">
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var treeTable = {{ monteCarloTreeTable|safe }};
		console.log(treeTable);

		google.charts.load('current', {'packages':['treemap']});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
			var data = google.visualization.arrayToDataTable(treeTable);

			tree = new google.visualization.TreeMap(document.getElementById('chart_div'));

			var options = {
				maxDepth: 1,
				maxPostDepth: 10,
				minColor: '#FF0000',
				midColor: '#555',
				maxColor: '#00FF00',
				minColorValue: -1,
				maxColorValue: 1,
				showScale: true,
				useWeightedAverageForAggregation: true,
				generateTooltip: ShowTooltip
			};

			tree.draw(data, options);

			function ShowTooltip(row, size, value) {
			return '<div class="treeToolTip">' +
				data.getColumnLabel(0) + ": " + data.getValue(row, 0) + "<br>" +
				data.getColumnLabel(1) + ": " + data.getValue(row, 1) + "<br>" +
				// data.getColumnLabel(2) + ": " + data.getValue(row, 2) + "<br>" +
				data.getColumnLabel(3) + ": " + data.getValue(row, 3) + "<br>" +
				data.getColumnLabel(4) + ": " + data.getValue(row, 4) + "<br>" +
				data.getColumnLabel(5) + ": " + data.getValue(row, 5) + "<br>" +
				data.getColumnLabel(6) + ": " + data.getValue(row, 6) + "<br>" +
				data.getColumnLabel(7) + ": " + data.getValue(row, 7) + "<br>" +
				data.getColumnLabel(8) + ": " + data.getValue(row, 8) + "<br>" +
				data.getColumnLabel(9) + ": " + data.getValue(row, 9) + "<br>" +
				data.getColumnLabel(10) + ": " + data.getValue(row, 10) +
				'</div>';
			}

		}
	</script>
</div>
{% endblock %}