<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}{% endblock %}</title>


	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
	<header class="shadow">
		<h1>Dashboard</h1>
		<h2>Env: {{envConfig["Name"]}}</h2>
	</header>

	<aside class="shadow">
		<ul>
			<li class="highlightOnHover">
				<a href="\">
					<p>Overview</p>
				</a>
			</li>
			<li class="highlightOnHover">
				<a href="\metrics">
					<p>Metrics</p>
				</a>
			</li>
			<li class="highlightOnHover">
				<a href="\config">
					<p>Config</p>
				</a>
			</li>
			<li class="">
				<p>Feedback</p>
				<ul>
					<li class="highlightOnHover">
						<a href="\feedback\humanlike\new">
							<p>Human-Like Evaluation</p>
						</a>
					</li>
					<li class="highlightOnHover">
						<a href="\feedback\curation">
							<p>Curation Feedback</p>
						</a>
					</li>
				</ul>
			</li>
			<li class="highlightOnHover">
				<a href="\episodereview">
					<p>Review Episodes</p>
				</a>
			</li>
		</ul>
	</aside>

	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer class="shadow">
		<p>©2023 Louie Jones-Strong</p>
	</footer>
</body>
</html>