<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}{% endblock %}</title>


	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<header class="shadow">
		<h1>Dashboard</h1>
		<h2>Env: {{Environment}}</h2>
	</header>

	<aside class="shadow">
		<ul>
			<li class="highlightOnHover">
				<a href="\">
					<p>Overview</p>
				</a>
			</li>
			<li class="highlightOnHover">
				<a href="\metrics">
					<p>Metrics</p>
				</a>
			</li>
			<li class="highlightOnHover">
				<a href="\config">
					<p>Config</p>
				</a>
			</li>
			<li class="">
				<p>Review Episodes</p>
				<ul>
					{%for episodeReplay in EpisodeReplays%}
					<li class="highlightOnHover">
						<a href="\episodereview\{{episodeReplay}}">
							<p>{{episodeReplay}}</p>
						</a>
					</li>
					{%endfor%}
				</ul>
			</li>
			<!-- <li><a href="\behaviourfeedback">Curate Behaviour</a></li> -->
		</ul>
	</aside>

	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer class="shadow">
		<p>©2023 Louie Jones-Strong</p>
	</footer>
</body>
</html>