{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}
<div>
	<div class="row">
		<div class="card shadow">
			<h2> Environment Config</h2>
			<hr>
			<pre><code>{{envConfigStr|safe}}</code></pre>
		</div>
		<div class="card shadow">
			<h2> Models Config</h2>
			<hr>
			<pre><code>{{modelHelperConfigStr|safe}}</code></pre>
		</div>
		<div class="card shadow">
			<h2> Agent Config</h2>
			<hr>
			<pre><code>{{monteCarloAgentConfigStr|safe}}</code></pre>
		</div>
		<div class="card shadow">
			<h2> Learner Config</h2>
			<hr>
			<pre><code>{{learnerConfigStr|safe}}</code></pre>
		</div>
	</div>
</div>
{% endblock %}