{% import 'Macros.html' as Macros %}

{% extends "base.html" %}

{% block title %}Human like evaluation{% endblock %}

{% block content %}
<div>
	<div class="row">
		{% for replayInfo in replayInfos %}

		<div class="card shadow">
			{{ Macros.EpisodeOptions(replayInfo.Folder, replayInfo.EpisodeId) }}
			<video controls autoplay muted loop>
				<source src="{{'/static/assets/' + replayInfo.EpisodeId + '.mp4'}}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>

		{% endfor %}
	</div>

	<div class="row">
		<div class="card shadow">
			<h2>Option</h2>

			<div class="row">
				<a href="\feedback\{{behaviour}}\false">
					<button class="shaded highlightOnHover">
						<p>Not Met Goal</p>
					</button>
				</a>
				<p>Id: {{idx}}</p>
				<a href="\feedback\{{behaviour}}\true">
					<button class="shaded highlightOnHover">
						<p>Met Goal</p>
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}